
body {
	font-size: 18px;
	font-family: tahoma, sans-serif;
	margin: 10px;
	padding: 10px;
	padding-right: 15px;
	padding-top: 0px;
}

#page {
	margin-left: auto;
	margin-right: auto;
	min-width: 480px;
}

.highlight {
	padding: 2px;
	width: 80%;
}

.hidden {
	display: none;
}

/*
loggedin style changes the background to make sure users can tell they are logged in.

loggedout indicates the opposite.
*/
.loggedout {
	font-size: 1.5em;
	text-align: center;
	margin-top: -45px;
	padding: 10px;
	position: fixed;
	left: 10%;
	right: 10%;
	width: auto;
	border-style: solid;
	border-width: 1px;
}

.not-logged-in #main {
	width: 960px;
	position: relative;
	display: block;
}

.loggedin {
	position: absolute;
	right: 10%;
	float: right;
	margin-top: -45px;
	padding: 10px;
	border-style: solid;
	border-width: 1px;
}

/*Login Form elements*/
div.login {
	position: relative;
	top: 3em;
	padding: 2em 5em;
	text-align: left;
	width: 30em;
	margin: auto;
	display: block;
	border-radius: 5px;
	box-shadow: 4px 4px 11px #000;
	height: 100%;
}

div.login.errors {
	height: 300px;
}

#login_form {
	margin-top: 2em;
}

div.login-inputs {
	margin: auto;
	width: 250px;
}

.login-inputs input[type="text"], .login-inputs input[type="password"] {
	font-size: 1.2em;
}

div.error {
	text-align: left;
	margin: 10%;
	padding: 2em 5em;
	position: fixed;
	top: 1%;
	right: 25%;
	left: 25%;
	width: auto;
	z-index: 1;
	border-style: solid;
	border-width: 1px;
}

div.error a {
	text-decoration: underline;
}

div.error-text {
	padding: 10px;
	margin: 5px;
	border-radius: 5px;
	text-align: center;
	box-shadow: 1px 1px 1px #f00;
}

div.login-title {
	font-size: 1.5em;
	text-align: center;
	position: relative;
	border-radius: 5px;
	padding: 5px;
	box-shadow: 1px 1px 1px #000;
}

#login_form .login-text, .reset-fields input, .reset-fields label {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
}

#password-resetter {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 300px;
}

/* general notices */
#notice {
	top: 25%;
	left: 15%;
	overflow: auto;
	float: none;
	padding: 12px;
	border-style: solid;
	border-width: 1px;
}

.notice {
	font-size: 1em;
	font-weight: bold;
	cursor: pointer;
	padding: 3px;
}

.alert {
	padding: 3px;
	font-weight: bold;
}

#new_popup {
	display: none;
	visibility: hidden;
}

/*general display elements */
.info-box {
	margin-left: auto;
	margin-right: auto;
	width: 950px;
}

.info-box .content {
	margin-left: auto;
	margin-right: auto;
	width: 950px;
	padding-top: 1em;
}


div.result {
	font-size: 1em;
	position: absolute;
	left: 200px;
	max-height: 600px;
	margin: 2%;
	padding-right: 2%;
	padding-left: 2%;
}

div.entry, div.list {
	width: 60%;
	text-indent: 2%;
	height: 2ex;
	padding: 2px;
	border-top-width: 1px;
	border-top-style: solid;
	border-right-width: 1px;
	border-right-style: solid;
	border-left-width: 1px;
	border-left-style: solid;
}

/*form elements*/
.label {
	font-size: 1em;
	font-weight: bold
}

/* form dimensions mainly defined here */
.form {
	position: absolute;
	width: 70%;
}

.button,  #browser_warning, .notice, .warning, input[type="submit"] ,.person-search {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	box-shadow: 1px 1px 2px #333;
}

#navigation .button, .login .button {
	padding: .7em;
	font-size: 1.1em;
}

.button, input[type="submit"] {
	text-align: center;
	/*position: static;*/
	padding: .2em .4em;
	border: 1px solid black;
	cursor: pointer;
	/*font-size: 1.1em;*/
	font-weight: normal;
	font-size: inherit;
	white-space: nowrap;
}

td .button, .row .button, .button.small {
	font-size: .9em;
	padding: .1em .5em;
}

tr.row-break td {
	border-top: solid 1px black !important;
}

.button:hover {
	cursor: pointer;
}



input[type="text"], input[type="email"], input[type="number"], textarea {
	border: 1px solid gray;
	border-radius: .25rem;
	padding: .25rem;
}

input[type="text"].person-search {
	height: 100%;
	padding: 7px 3px;
	font-size: 1.1em;
	border-color: transparent;
}

input[type="number"] {
	width: 5em;
}


input[type="tel"] {
	width: 7em;
}

input[type="time"] {
	width: 7em;
}

.unread {
	margin-left: 5px;
	border-radius: 5px;
	padding: 1px 3px;
	border: 1px solid #000;
	font-weight: bold;
}

.image_button {
	display: inline;
	margin-bottom: -5px;
	text-align: center;
	cursor: pointer;
}

.button-list {
	list-style: none;
	padding-left: 0;
	display: flex;
	flex-flow: row wrap;
}

.button-list div.button-item {
	display: flex;
	flex-flow: column wrap;
	padding: .35em 0 .35em .25em;
}

.button-list div.button-item .button, .button-list div.button-item input {
	margin: 0 5px;
	/*font-size: 1.2em;*/
}

.button-list div.button-item .button.delete {
	/*margin-top: -5px;*/

}

.mini-buttons .button-list div.button-item .button {
	margin: 0 1px;
}

.button.letter {
	padding-left: .5em;
	padding-right: .5em;
	margin-left: .2em !important;
	margin-right: .2em !important;
}

.help {

}


textarea {
	font-size: 1em;
}

.delete {
	float: right;
}

.delete.no-float {
	float: none;
}

label {
	font-weight: bold;
}

legend {
	font-weight: bold;
}

/* header page layout elements */
#header {
	display: flex;
	flex-flow: column;
	padding-bottom: 1rem;
	border-bottom: 1px solid gray;
}

#super-header {
	display:flex;
	flex-direction: row;
	justify-content: space-between;
}

#page-title {
	font-size: 1.3em;
	font-weight: bold;
	padding-bottom: .7em;
}

#navigation {
	padding: 1px;
}

/*#navigation {*/
/*	position: relative;*/
/*	float: left;*/
/*	width: 95%;*/
/*	padding: .75em 0 0 1em;*/
/*	height: 3em;*/
/*	min-width: 700px;*/
/*	margin-bottom: .5em;*/
/*}*/



#utility {
	float: right;
	clear: right;
	margin-top: 5px;
}

#utility p {
	margin: 0em;
}

/* end header page layout elements */ /*main div layout elements */
#main {
	position: relative;
	padding: 0 2em 2em 2em;
	margin-top: 1rem;
}

/* end div layout elements */
.search ol {
	padding: 0;
	margin: 0;
}

.search li {
	display: inline;
	padding-left: 1em;
	margin-left: 0em;
}

h1 {
	font-size: 2em;
	font-weight: bold;
	margin: 0;
}

h2 {
	text-align: left;
	position: relative;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px 10px 10px 0;
}

h3 {
	font-weight: bold;
	margin: 1em 0;
}

h4 {
	font-weight: bold;
	text-align: left;
	position: relative;
	margin: 0;
}

h5 {
	font-size: 1em;
	font-weight: bold;
	text-align: left;
	margin: 0;
}

h3, h4, h5 {
	margin-top: 4px;
	margin-bottom: 4px;
}


.field {
	margin-bottom: .5em;
}

.columnbox {
	width: 100%;
}

.quartercolumn {
	width: 25%;
	float: left;
	padding-top: 5px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
}

.fifthcolumn {
	width: 20%;
	float: left;
}


img:hover {
	cursor: pointer;
}

label {
	font-weight: bold;
}

.spacer {
	width: 25em;
}

.footnote {
	font-size: .8em;
	vertical-align: super;
}

.ui-accordion-content {
	height: auto;
}

.warning {
	padding: 5px;
	height: 150px;
	width: 320px;
	left: 20px;
	top: 50px;
	position: absolute;
	visibility: hidden;
}

#browser_warning {
	font-size: 1.2em;
	width: 50%;
	padding: 5px;
	text-align: center;
}

a.button {
	text-decoration: none;
}


.button-bar {
	margin-top: 5px;
	margin-bottom: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

#search-list {
	position: absolute;
	display: none;
	z-index: 1000;
	padding: 10px;
	/*padding-top: 0px;*/
	-moz-box-shadow: 3px 3px 4px #666;
	-webkit-box-shadow: 3px 3px 4px #666;
	box-shadow: 3px 3px 4px #666;
	background-color: #fff;
	border: 1px solid #ddd;
	max-height: 250px;
	overflow: scroll;
}

table.list caption {
	font-weight: bold;
	text-align: left;
}

table.list td {
	padding: 5px;
	border-width: 0px;
	vertical-align: top;
}


table.list {
	border-spacing: 5px 0;
	padding-bottom: 5px;
	padding-top: 5px;
}


table.list th {
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #000;
	padding: 5px;
	padding-right: 2ex;
	text-align: left;
}

table.list tbody tr {

}

#popup {
	font-size: .9em;
}

table.list.compressed {
	font-size: .9em;
	padding: 0;
	border-spacing: 0;
}

table.list tfoot tr {
	font-weight: bold;
}

table.list tfoot tr td {
	border-top-style: double;
	border-top-width: 3px;
	border-top-color: #000;
}


table.files {
	border-spacing: 5px;
}

table.files th {

}

table.files td {

}

table.files td.file-name {
	width: 150px;
}

table.files td.file-description {
	width: 275px;
}

td.field input {
	width: 60px;
}

a.link, input.link {
	text-decoration: underline;
}

a.link:hover, input.link:hover {
	cursor: pointer;
}

.icon {
	vertical-align: middle;
	padding-right: 5px;
	padding-left: 5px;
}

fieldset.advanced div.advanced {
	padding-left: 55px;
}

.search_fieldset {
	width: 250px;
	padding-bottom: 20px;
	padding-left: 10px;
	padding-right: 10px;
	display: block;
	position: relative;
	margin-bottom: 20px;
}

.search_fieldset legend {
	font-size: 1.2em;
}


.login div.button-list .button-item {
	margin: 0 .5em;
}

#feedback-editor {
	width: 30em;
}

/* COLOR Layout */
.block {
	display: block;
}

.color-info, .order-info {

}

fieldset.block label {
	float: left;
}

.edit-field.field {
	min-width: 10em;
	display: block;
}

.roommate .edit-field.field {
	display: inline;
}

.room-size-label {
	clear: both;
	display: block;
}

textarea.save-field {
	width: 80%;
}

.column {
	width: 45%;
	float: left;
	padding-bottom: 10px;
}

.column-odd {
	padding-right: 5px;
}

.column-even {
	padding-left: 5px;
}

.room-row.column {
	width: 30%;
}

.triptych {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.diptych {
	display: flex;
	grid-gap: 1rem;
}

li.diptych {
	justify-content: flex-start;
}

li.diptych .delete {

}


#search_list td {
	border: 1px solid #ddd;
	border-right: 1px solid #ccc;
	padding: 5px;
}

.block {
	clear: both;
}

.field-set {
	padding: 5px 0;
}

.field-group {
	clear: both;
}

fieldset.field-group {
	margin: 5px 0;
	border: 1px solid #ddd;
}

.field-group .field-set {
	float: left;
	padding: 0;
}

.field-group .field-set label {
	display: block;
}

.field-group .field-set input {
	width: 3em;
}

.field-set input[type="text"] {
	width: 30ex;
}

#color-editor textarea {
	width: 100%;
}

#flags {
	width: 150px;
}

body.person #content {
	position: relative;
}

body.person fieldset.grouping, div.grouping {
	float: left;
	clear: none;
	min-width: 35ex;
}

div.grouping {

}

div.person-info {
	padding: 5px 5px;
}

div.phone-info {
	width: 35ex;
}

div.address-info {
	padding: 5px 5px;
}

div.housemate-info {

}

.grouping div.field-envelope {
	padding: 5px 0;
}

#footer {
	clear: both;
	float: right;
	padding-top: 15px;
}

.info-block {
	padding: 15px 0;
	padding-bottom: 0;
}

textarea.editor {
	width: 50%;
	height: 15em;
}

input.note-field, textarea.address-field {
	width: 25em;
}

.input-block {
	padding: .35em 0;
}

.input-block.inline {
	float: left;
	padding-right: 2em;
}

#hotel-editor .input-block.row {
	min-width: 34em;
}

label.above {
	display: block;
}

.contact-row {
	position: relative;
	display: block;
	clear: both;
}

.contact-row .contact-info {
	display: block;
	padding-top: 1em;
	padding-bottom: .5em;
	/*float: left;*/
}

.contact-row .button.edit {
	display: block;
	float: left;
}

.address-street-field {
	width: 14em;
}

.address-state-field {
	width: 3em;
}

#word-icon {
	background-position: -380px -20px;
	background-image: url(../tiny_mce/themes/advanced/img/icons.gif);
	background-repeat: no-repeat;
	height: 20px;
	width: 20px;
	display: inline-block;

}

.return-slip .row {
	height: 28px;
	border-bottom: 1px solid #000;
	width: 100%;
	padding-top: 20px;
}

.return-slip .row-1 {

}

.return-slip .row-last {
	border-bottom: 1px solid #000;
}

.return-slip .column {
	width: auto;
	padding-right: 1em;
}

.return-slip .special-request-block {
	width: 60%;
}

.return-slip .payment-block {
	float: right;
}

#payment-list-block tr td:first-child {
	min-width: 13ex;
}

#payment-list-block tfoot tr td {
	border-top: 3px double #000;
}

.pagebreak-notice {
	text-transform: uppercase;
	text-align: center;
	border-top: 1px dotted #ccc;
	color: #ccc;
}

.no-wrap {
	white-space: nowrap;
}

.field-box {
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 0 .5em;
	margin: .5em;
}

ul.list {
	padding: 0;
}

ul.list li {
	list-style: none;
}

#tourist-dropdown {
	width: 80%;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	padding: .5em;
}

.quick-look .field-envelope {
	font-size: 1rem;
}

.quick-look h2, .quick-look h3, .quick-look h4 {
	font-size: 1rem;
	padding: 0;
	text-transform: none;
}

.quick-look ul {
	padding: 0;
	margin: 0;
}

.quick-look ul li {
	list-style: none;
	display: inline;
}

.currency:before {
	content: "$";
}

.details-block {
	display: none;
	background-color: white;
	width: 50%;
}
