@import "ui.all.css";

@import "ui.datepicker.css";

body {
	font-size: 15px;
	font-family: tahoma, sans-serif;
	margin: 10px;
	padding: 10px;
	padding-right: 15px;
	padding-top: 0px;
}

#page {
	margin-left: auto;
	margin-right: auto;
	min-width: 480px;
}

.highlight {
	padding: 2px;
	width: 80%;
}

.hidden {
	display: none;
}

/*
loggedin style changes the background to make sure users can tell they are logged in.

loggedout indicates the opposite.
*/
.loggedout {
	font-size: 1.5em;
	text-align: center;
	margin-top: -45px;
	padding: 10px;
	position: fixed;
	left: 10%;
	right: 10%;
	width: auto;
	border-style: solid;
	border-width: 1px;
}

.not-logged-in #main {
	width: 960px;
	position: relative;
	display: block;
}

.loggedin {
	position: absolute;
	right: 10%;
	float: right;
	margin-top: -45px;
	padding: 10px;
	border-style: solid;
	border-width: 1px;
}

/*Login Form elements*/
div.login {
	position: relative;
	top: 3em;
	padding: 2em 5em;
	text-align: left;
	width: 30em;
	margin: auto;
	display: block;
	border-radius: 5px;
	box-shadow: 4px 4px 11px #000;
	height: 250px;
}

div.login.errors {
	height: 300px;
}

#login_form {
	margin-top: 3em;
}

div.login-inputs {
	margin: auto;
	width: 250px;
}

.login-inputs input[type="text"] {
	font-size: 1.2em;
}

div.error {
	text-align: left;
	margin: 10%;
	padding: 2em 5em;
	position: fixed;
	top: 1%;
	right: 25%;
	left: 25%;
	width: auto;
	z-index: 1;
	border-style: solid;
	border-width: 1px;
}

div.error a {
	text-decoration: underline;
}

div.error-text {
	padding: 10px;
	margin: 5px;
	border-radius: 5px;
	text-align: center;
	box-shadow: 1px 1px 1px #f00;
}

div.login-title {
	font-size: 1.5em;
	text-align: center;
	position: relative;
	border-radius: 5px;
	padding: 5px;
	box-shadow: 1px 1px 1px #000;
}

#login_form .login-text,.reset-fields input,.reset-fields label {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
}

#password-resetter {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 300px;
}

/* general notices */
#notice {
	position: absolute;
	top: 25%;
	left: 15%;
	overflow: auto;
	visibility: hidden;
	float: none;
	padding: 12px;
	border-style: solid;
	border-width: 1px;
}

.notice {
	font-size: 1em;
	font-weight: bold;
	cursor: pointer;
	padding: 3px;
}

.alert {
	padding: 3px;
	font-weight: bold;
}

#new_popup {
	display: none;
	visibility: hidden;
}

/*general display elements */
.info-box {
	margin-left: auto;
	margin-right: auto;
	width: 950px;
}

.info-box .content {
	margin-left: auto;
	margin-right: auto;
	width: 950px;
	padding-top: 1em;
}

.page-list .student_list {
	width: 250px;
	margin-left: 0;
}

/*student search elements*/
div.result {
	font-size: 1em;
	position: absolute;
	left: 200px;
	max-height: 600px;
	margin: 2%;
	padding-right: 2%;
	padding-left: 2%;
}

/*student list elements*/
div.entry,div.list {
	width: 60%;
	text-indent: 2%;
	height: 2ex;
	padding: 2px;
	border-top-width: 1px;
	border-top-style: solid;
	border-right-width: 1px;
	border-right-style: solid;
	border-left-width: 1px;
	border-left-style: solid;
}

/*form elements*/
.label {
	font-size: 1em;
	font-weight: bold
}

/* form dimensions mainly defined here */
.form {
	position: absolute;
	width: 70%;
}

.button,#navigation,#advancedSearch,#browser_warning,.notice,.warning,#searchForm fieldset,.support-view legend,input[type="submit"],#navigation input[type="text"]
	{
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	box-shadow: 1px 1px 2px #333;
}

#navigation .button {
	padding: .7em;
	font-size: 1.1em;
}

.button,input[type="submit"] {
	text-align: center;
	/*position: static;*/
	padding: .2em .4em;
	border: 1px solid black;
	cursor: pointer;
	/*font-size: 1.1em;*/
	font-weight: normal;
	font-size: inherit;
	white-space: nowrap;
}

td .button,.row .button,.button.small {
	font-size: .9em;
	padding: .1em .5em;
}

tr.row-break td {
	border-top: solid 1px black !important;
}

.button:hover {
	cursor: pointer;
}

#navigation input[type="text"] {
	height: 18px;
	border: 1px solid transparent;
	padding: 7px 3px;
	font-size: 1.1em;
	color: #999;
}

input[type="number"] {
	width: 10ex;
}

input[type="date"] {
	width: 14ex;
}

input[type="tel"] {
	width: 16ex;
}

input[type="time"] {
	width: 7ex;
}

.unread {
	margin-left: 5px;
	border-radius: 5px;
	padding: 1px 3px;
	border: 1px solid #000;
	font-weight: bold;
}

.image_button {
	display: inline;
	margin-bottom: -5px;
	text-align: center;
	cursor: pointer;
}

ul.button-list {
	list-style: none;
	padding-left: 0px;
	display: inline;
}

ul.button-list li {
	display: inline;
	padding: .35em 0 .35em .25em;
}

ul.button-list li .button {
	margin: 0 5px;
	/*font-size: 1.2em;*/
}

ul.button-list li .button.delete {
	/*margin-top: -5px;*/
	
}

.mini-buttons ul.button-list li .button {
	margin: 0 1px;
}

.button.letter {
	padding-left: .5em;
	padding-right: .5em;
	margin-left: .2em !important;
	margin-right: .2em !important;
}

.help {
	
}

#utility .button-box {
	/*font-size: .8em;*/
	
}

textarea {
	font-size: 1em;
}

.delete {
	float: right;
}

label {
	font-weight: bold;
}

legend {
	font-weight: bold;
}

/* header page layout elements */
#header {
	padding: 0;
	position: relative;
	height: 70px;
}

#page-title {
	float: left;
	font-size: 1.3em;
	font-weight: bold;
	padding-bottom: .7em;
}

#navigation {
	padding: 1px;
}

#navigation {
	position: relative;
	float: left;
	width: 95%;
	padding: .75em 0 0 1em;
	height: 3em;
	min-width: 700px;
	margin-bottom: .5em;
}

#navigation ul {
	padding: 0;
	margin: 0;
}

#navigation li {
	display: inline;
	margin-left: 0.25em;
	margin-top: 0.5em;
	margin-left: 0.25em;
	/*border-left-width:0.1em;
	border-left-style:solid;*/
}

#navigation li:first-child {
	display: inline;
	padding-left: 0;
	margin-left: 0;
	/*border-left:none;*/
}

#navigation li a a {
	text-decoration: none;
}

#navigation .button-box {
	float: left;
}

#utility {
	float: right;
	clear: right;
	margin-top: 5px;
}

#utility p {
	margin: 0em;
}

/* end header page layout elements */ /*main div layout elements */
#main {
	width: 95%;
	position: relative;
	padding: 0 2em 2em 2em;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2.5em;
}

#content {
	
}

/* end div layout elements */
.search ol {
	padding: 0;
	margin: 0;
}

.search li {
	display: inline;
	padding-left: 1em;
	margin-left: 0em;
}

h1 {
	font-size: 18px;
	font-weight: bold;
	margin: 0;
}

h2 {
	font-weight: bold;
	text-transform: uppercase;
	text-align: left;
	position: relative;
	/*border-style: solid;
	border-width: 1px;*/
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px;
}

h3,.support-view legend {
	font-size: 1.5em;
	font-weight: bold;
	margin: 1em 0;
	/*border-style: solid;
	border-width: 1px;*/
}

h4 {
	font-weight: bold;
	text-transform: uppercase;
	text-align: left;
	position: relative;
	/*border-style: solid;
	border-width: 1px;*/
	margin: 0;
}

h5 {
	font-size: 1em;
	font-weight: bold;
	text-align: left;
	/*border-top-style: solid;
	border-top-width: 1px;*/
	margin: 0;
}

h3,h4,h5,.support-view legend {
	margin-top: 4px;
	margin-bottom: 4px;
	padding: 5px;
	/*padding-left: 10px;*/
}

/*attendance values*/
ol.attendance {
	padding: 0;
	margin: 0;
	display: inline
}

li.attendance {
	display: inline;
	padding-left: .5em;
	margin-left: .5em;
	margin-top: .5em;
	border-left: .01em solid black;
	color: black
}

li.attendance:first-child {
	padding-left: 0;
	border-left: none;
	margin-left: 0
}

.field {
	margin-bottom: .5em;
}
/*column boxes (see attendance_list.inc.html)
*/
.columnbox {
	width: 100%;
}

.quartercolumn {
	width: 25%;
	float: left;
	padding-top: 5px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
}

.fifthcolumn {
	width: 20%;
	float: left;
}

/* Editor for Student Info page */
#editor {
	height: 130px;
	width: 380px;
	left: 280px;
	top: 100px;
	position: absolute;
	visibility: hidden;
}

.chartbox {
	width: 100%;
	height: 25px;
}

.chartcol20 {
	width: 20%;
	height: 100px;
	float: left;
}

.chartcol15 {
	width: 15%;
	height: 100px;
	float: left;
}

.chartcol12 {
	width: 12.5%;
	height: 100px;
	float: left;
}

.charttop {
	width: 100%
}

.chartbottom {
	width: 100%;
}

img:hover {
	cursor: pointer;
}

label {
	font-weight: bold;
}

.spacer {
	width: 25em;
}

.footnote {
	font-size: .8em;
	vertical-align: super;
}

.ui-accordion-content {
	height: auto;
}

.warning {
	padding: 5px;
	height: 150px;
	width: 320px;
	left: 20px;
	top: 50px;
	position: absolute;
	visibility: hidden;
}

#browser_warning {
	font-size: 1.2em;
	width: 50%;
	padding: 5px;
	text-align: center;
}

a.button {
	text-decoration: none;
}

.button-box {
	height: 25px;
}

#content .button-box {
	padding: .5em 0;
	height: 1.5em;
}

.button-box .delete {
	/*margin-top: -5px;*/
	
}

.button-bar {
	margin-top: 5px;
	margin-bottom: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

#search_list {
	position: absolute;
	display: none;
	z-index: 1000;
	padding: 10px;
	/*padding-top: 0px;*/
	-moz-box-shadow: 3px 3px 4px #666;
	-webkit-box-shadow: 3px 3px 4px #666;
	box-shadow: 3px 3px 4px #666;
	background-color: #fff;
	border: 1px solid #ddd;
}

table.list caption {
	font-weight: bold;
	text-align: left;
}

table.list td {
	padding: 5px;
	border-width: 0px;
	vertical-align: top;
}

table.list {
	border-spacing: 5px 0;
	padding-bottom: 5px;
	padding-top: 5px;
}

table.list th {
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #000;
	padding: 5px;
	padding-right: 2ex;
	text-align: left;
}

table.list tbody tr {
	
}

#popup {
	font-size: .9em;
}

table.list.compressed {
	font-size: .9em;
	padding: 0;
	border-spacing: 0;
}

table.list tfoot tr {
	font-weight: bold;
}

table.list tfoot tr td {
	border-top-style: double;
	border-top-width: 3px;
	border-top-color: #000;
}

table.files {
	border-spacing: 5px;
}

table.files th {
	
}

table.files td {
	
}

table.files td.file-name {
	width: 150px;
}

table.files td.file-description {
	width: 275px;
}

td.field input {
	width: 60px;
}

a.link,input.link {
	text-decoration: underline;
}

a.link:hover,input.link:hover {
	cursor: pointer;
}

.icon {
	vertical-align: middle;
	padding-right: 5px;
	padding-left: 5px;
}

fieldset.advanced div.advanced {
	padding-left: 55px;
}

.search_fieldset {
	width: 250px;
	padding-bottom: 20px;
	padding-left: 10px;
	padding-right: 10px;
	display: block;
	position: relative;
	margin-bottom: 20px;
}

.search_fieldset legend {
	font-size: 1.2em;
}

.search_fieldset .button-box {
	display: block;
	float: right;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

#search_list .studentName {
	padding-top: 0;
}

.button-box {
	/*margin-top: .5em;
	padding-bottom: .5em;*/
	
}

ul.buttons {
	list-style: none;
	margin-left: -38px;
}

ul.buttons li {
	display: inline;
}

#feedback-editor {
	width: 30em;
}

/* COLOR Layout */
.block {
	display: block;
}

.color-info,.order-info {
	
}

fieldset.block label {
	float: left;
}

.edit-field.field {
	min-width: 10em;
	display: block;
}

textarea.save-field {
	width: 80%;
}

.column {
	width: 45%;
	float: left;
	padding-bottom: 10px;
}

.column-odd {
	padding-right: 5px;
}

.column-even {
	padding-left: 5px;
}

.triptych.column {
	width: 28%;
}

.room-row {
	min-height: 190px;
}

#search_list td {
	border: 1px solid #ddd;
	border-right: 1px solid #ccc;
	padding: 5px;
}

.block {
	clear: both;
}

.field-set {
	padding: 5px 0;
}

.field-group {
	clear: both;
}

fieldset.field-group {
	margin: 5px 0;
	border: 1px solid #ddd;
}

.field-group .field-set {
	float: left;
	padding: 0;
}

.field-group .field-set label {
	display: block;
}

.field-group .field-set input {
	width: 3em;
}

.field-set input[type="text"] {
	width: 30ex;
}

#color-editor textarea {
	width: 100%;
}

#flags {
	width: 150px;
}

input.money {
	
}

input.date {
	width: 12ex;
}

body.person #content {
	position: relative;
}

body.person fieldset.grouping,div.grouping {
	float: left;
	clear: none;
	min-width: 35ex;
}

div.grouping {
	
}

div.person-info {
	padding: 5px 5px;
}

div.phone-info {
	width: 35ex;
}

div.address-info {
	padding: 5px 5px;
}

div.housemate-info {
	
}

.grouping div.field-envelope {
	padding: 5px 0;
}

#footer {
	clear: both;
	float: right;
	padding-top: 15px;
}

.info-block {
	padding: 15px 0;
	padding-bottom: 0;
}

textarea.editor {
	width: 50%;
	height: 15em;
}

input.note-field,textarea.address-field {
	width: 25em;
}

.input-block {
	padding: .35em 0;
}

.input-block.inline {
	float: left;
	padding-right: 2em;
}

#hotel-editor .input-block-row {
	min-width: 34em;
}

label.above {
	display: block;
}

.contact-row {
	position: relative;
	display: block;
	clear: both;
}

.contact-row .contact-info {
	display: block;
	padding-top: 1em;
	padding-bottom: .5em;
	/*float: left;*/
}

.contact-row .button.edit {
	display: block;
	float: left;
}

.address-street-field {
	width: 14em;
}

.address-state-field {
	width: 3em;
}

#payer-editor-block,#payment-list-block,#payer-tourist-block {
	float: left;
	width: 30%;
	clear: none;
}

#payer-editor-block {
	min-width: 300px;
}

#payment-list-block,#payer-tourist-block {
	min-width: 250px;
}

#word-icon {
	background-image: url(../tiny_mce/themes/advanced/img/icons.gif);
	background-repeat: no-repeat;
	height: 20px;
	width: 20px;
	display: inline-block;
	background-position-x: -380px;
	background-position-y: -20px
}

.return-slip .row {
	height: 28px;
	border-bottom: 1px solid #000;
	width: 100%;
	padding-top: 20px;
}

.return-slip .row-1 {
}

.return-slip .row-last {
	border-bottom: 1px solid #000;
}

.return-slip .column {
	width: auto;
	padding-right: 1em;
}

.return-slip .special-request-block {
	width: 60%;
}

.return-slip .payment-block {
	float: right;
}

#payment-list tr td:first-child {
	min-width: 13ex;
}

#payment-list tfoot tr td {
	border-top: 3px double #000;
}

.pagebreak-notice {
	text-transform: uppercase;
	text-align: center;
	border-top: 1px dotted #ccc;
	color: #ccc;
}

.no-wrap {
	white-space: nowrap;
}

.triptych {
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 0 .5em;
	margin: .5em;
}

#tourist-dropdown-block {
	width: 90%;
	margin: 0 auto;
	position: relative;
	padding: .5em;
}

#tourist-dropdown {
	width: 80%;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	padding: .5em;
}