/application/config/database.php
/application/logs/*
.project
.settings
.settings/*
.buildpath
.DS_Store
/js.old
/user_guide
/user_guide/*
.
/sites/default/settings.php
/.ddev/docker-compose.phpmyadmin.yaml
/.ddev/docker-compose.phpmyadmin-norouter.yaml
/.ddev/commands/host/phpmyadmin
