body {
	width: 8.5in;
	height: 11in;
	margin: 0.25in 0.25in;
}
.label {
	width: 2.025in;
	height: 0.875in;
	padding: 0.125in 0.3in 0;
	outline: 1px dotted;
	text-align: center;
	overflow: hidden;
	float: left;
}
.page-break {
	clear: left;
	display: block;
	page-break-after: always;
}
