
.message {
	display: flex;
	transition: all 5000ms ease-out;
	justify-content: space-between;

	.close {
		cursor: pointer;
		width: 1rem;
		height: 1rem;

	}
}


.warning, .notice, .error {
	color: black;
	background: #ff8538;
}
.notice {
	background: #00d9ff;
}

.alert {
	background-repeat: repeat;
	color: #fff;
}

.error {
	background: #ff0;
}

.warning h4, .notice h4 {
	border-color: black;
}
