
.message {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 1rem;
	transition: background-color 0.5s ease;

	&.warning {
		color: black;
		background: #ff9696;

	}

	&.notice {
		background: #7af68c;
	}

	&.alert {
		background-repeat: repeat;
		color: #f8d68b;
	}

	&.error {
		background: #ffffc4;
	}

	.close {
		cursor: pointer;
		width: 1rem;
		height: 1rem;
		background-color: transparent;
		border: none;

	}
	&.hidden{
		display: none;
	}
}









