body {
	font-family: "Times New Roman", serif;
	width: 8.25in;
}

a:not(.button),
a:hover:not(.button),
a:link:not(.button),
a:visited:not(.button) {
	text-decoration: none;
	color: #000;
}

.page {
	width: 100%;
}

#main {
	padding: 0;
}

.letterhead {
	padding-bottom: 3rem;
}

#letter.hide-letterhead {
	margin-top: 1.75in;

	.letterhead {
		display: none;
		padding: 0;
	}
}

.non-printing {
	display: none;
}

.printed-content {
	position: relative;

}

.no-letterhead .printed-content {
	padding-top: 1.25in;

}


.grouping.block.merge-date p {
	margin: 0;
	padding: .5rem 0;
}

.title {
	text-transform: uppercase;
	text-align: center;
}

.section {
	width: 100%;
	float: left;
	padding-bottom: 1em;
}

.left {
	width: 50%;
	float: left;
}

.right {
	text-align: right;
	margin-left: 50%;
	width: auto;
}

.pagebreak {
	page-break-before: always;
	padding-top: 1in;
}

blockquote {
	font-size: 85%;
}

table {
	border: 1px;
	font-size: 14px;
	border-collapse: collapse;
	width: 100%;
}

td {
	border: 1px solid black;
	padding: 5px;
}

td:last-child {
	border-right: 1px solid black;
}

.button {
	border-radius: 3px;
	text-align: center;
	position: static;
	padding: .15em .25em;
	border-style: solid;
	border-width: 1px;
	cursor: pointer;
	font-weight: normal;
}

.font_label {
	padding: 5px;
	margin: 5px;
}

.control_panel {
	font-size: 12px;
	font-family: tahoma, sans-serif;
}

#navigation {
	display: none;
}

h2,
h3,
h4 {
	border: none;
	background-color: transparent;
}

h3 {
	font-size: 18px;
	text-align: center;
}

div.legend {
	font-size: 0.85em;
}

.button-box {
	height: 0;
	display: none;
}

.button {
	display: none;
}

#header {
	display: none;
}

a,
a:hover,
a:link,
a:visited {
	text-decoration: none;
	color: #000;
}

.no-print {
	display: none;
}

#room_17 {
	page-break-inside: avoid;
}

#footer {
	display: none;
}

tr {
	/*widows: 5;
	orphans: 5;*/
}

.cancelled,
.cancelled a,
.cancelled .button {
	color: red;
}

#alert {
	display: none;
}

.placeholder {
	font-style: italic;
}

.triptych {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;

	.room-row {
		min-height: 36px;
		border: 1px solid #aaa;
		padding: 2px;
		margin: 3px;

		.field-envelope {
			display: none;
		}
	}
}

.edit-field::before {
	content: unset;
	padding: unset;
}
